body {
	margin: 0;
}

h1 {
	/*Compressed Semi-bold*/
	font-family: jaf-bernina-sans-comp, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 181px;
	color: #3665b0;
}

h2 {
	/*Narrow Light*/
	font-family: jaf-bernina-sans-narrow, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 92px;
	color: #3665b0;
}

p {
	/*Light*/
	font-family: jaf-bernino-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}
.navigation a {
	font-family: jaf-bernina-sans-comp, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 26px;
}
.wrapper {
	width: 90%;
	height: 1000px;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 100px;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid#3665b0;
}

.logo img {
	width: 200px;
}

.navigation ul {
	margin: 0;
	padding: 0;
}

.navigation ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 18px;
}

.navigation ul li a {
	text-decoration: none;
	color: #3665b0;
}

.crea {
	display: flex;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.crea-text {
	flex: 1;
	padding-right: 50px;
	padding-bottom: 50px;
}

.crea-image {
	flex: 0;
}
